<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Growthsphere: Develop Your Own Regimens with Style!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          {{#if currentUser}}
            <li><a href="/regimen/new">+regimen</a></li>
            <li><a href="/user/{{currentUser.id}}">Profile</a></li>
            <li><a href="/user/logout">Log Out</a></li>
          {{else}}
            <li><a href="/user/login">Log In</a></li>
            <li><a href="/user/sign-up">Sign Up</a></li>
          {{/if}}
      </ul>
    </div>
    </nav>
    <main class="container user-profile">
      {{{ body }}}
    </main>
  </body>
</html>