<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Growthsphere</title>
  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> --}}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>

  <main class="container-fluid">
    {{{ body }}}
  </main>

  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script>  
    M.AutoInit();
    $(document).ready(function () {
      $('.slider').slider();
    });

    function formatDate(date) {
      let newdate = date.getMonth() + '/' + date.getDay() + '/' + date.getFullYear()
      return newdate
    }

  </script>
</body>

</html>