@import url("https://fonts.googleapis.com/css?family=Montserrat|Pacifico");
@import url("https://fonts.googleapis.com/css?family=Signika:400,600");
body {
  background-color: #FCD337;
}

h4 {
  text-align: center;
  color: white;
  font: 2em "Montserrat", sans-serif;
}

header {
  padding: 3em 5em 1em 5em;
}

header .entire-logo {
  position: relative;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  margin-bottom: 1em;
}

header .entire-logo .site-logo {
  display: block;
  margin: 0 auto;
  width: 20%;
}

header .entire-logo h2 {
  font: 3em "Pacifico", cursive;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform-origin: 10% -10px;
          transform-origin: 10% -10px;
  -webkit-transform: rotate(-20deg) skew(-15deg) translate(-50%, -50%);
          transform: rotate(-20deg) skew(-15deg) translate(-50%, -50%);
}

header h2, header h4 {
  color: white;
  text-align: center;
}

header h4 {
  margin-top: 1em;
  font-size: 1.5em;
}

nav {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: none;
}

nav .nav-wrapper {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  width: 100%;
}

ul li {
  text-align: center;
  width: 45%;
  background-color: #FF6363;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 0.5em 0.3em;
}

ul li a {
  color: #fff;
  font: 1em "Montserrat", sans-serif;
  padding: 1em;
}

.container {
  display: block;
  margin: auto;
}

.container .createAcc {
  margin: 0 auto 1em auto;
  width: 70%;
  background-color: white;
  padding: 2em;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.container .createAcc h4 {
  font-size: 1.5em;
  color: #545454;
}

.container .createAcc .auth-form {
  padding: 0 4em 0 4em;
}

.container .createAcc .auth-form input[type=password], .container .createAcc .auth-form input[type=email], .container .createAcc .auth-form input[type=text] {
  background-color: white;
  color: #545454;
  width: 100%;
  margin: 0;
}

.login {
  display: block;
  margin: 0 auto;
  padding: 2em;
  width: 50%;
}

.login input[type=password], .login input[type=text] {
  padding: 0.5em;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.row .profile-container {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background-image: url("/img/profile_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 2em;
  height: 40%;
  width: 100%;
}

.row .profile-container .profile {
  width: 60%;
  color: white;
}

.row .profile-container .profile .stats {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.row .profile-container .profile .stats .statbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.5em;
  height: 9em;
  width: 9em;
  vertical-align: middle;
  line-height: 9em;
  font-family: "Signika", sans-serif;
  letter-spacing: 1px;
}

.row .profile-container .profile .stats .hairtype {
  background-color: #FFFFFF;
  color: black;
}

.row .profile-container .profile .stats .hairlength {
  background-color: #388F53;
  text-transform: uppercase;
  color: white;
}

.row .profile-container .profile .stats .hairdensity {
  background-color: #C04B23;
  color: white;
}

.row .profile-container .profile .stats .hairporosity {
  color: white;
  background-color: #BF792F;
}

.row .regimen-container {
  border: 2px solid blue;
  width: 100%;
  height: 30em;
  max-height: 100%;
  background-color: rgba(219, 219, 219, 0.7);
  padding: 3em;
}

.statsform-container {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.statsform-container .createStats {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 90%;
  margin-top: 4em;
}

.statsform-container .createStats h4 {
  text-align: center;
  color: #9D9D9D;
  padding: 2em 2em 0 2em;
}

.statsform-container .createStats input[type=submit] {
  margin-top: 1em;
}

.stats-not-logged {
  background-image: url("/img/not-logged-in.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-flow: row wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 5em;
}

.stats-not-logged p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 5em;
}

.create-regimen {
  padding: 2em;
  width: 50%;
}

.create-regimen h4 {
  color: #9D9D9D;
}

.create-regimen .regimen-form {
  padding: 2em 6em;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #9D9D9D;
}

.create-regimen .regimen-form textarea {
  border: none;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
/*# sourceMappingURL=main.css.map */