@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');

$logo-font: 'Pacifico', cursive;
$titular-font: 'Montserrat', sans-serif;
$profile-background: white;
$regimen-background: rgba(219, 219, 219, 0.7);
$form-color: #9D9D9D;
$regimen-form: white;
$card-shadow:0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

@mixin background-setup {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin cardbox {
  margin: 0 auto 1em auto;
  width: 70%;
  background-color: white;
  padding: 2em;
  box-shadow: $card-shadow;
}

@mixin flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

 
body {
  background-color: #FCD337;
}

h4 {
    text-align: center;
    color: white;
    font: 2em $titular-font;
}

header{
    padding: 3em 5em 1em 5em;
    .entire-logo{
        position: relative;
        animation: float 3s ease-in-out infinite;
        margin-bottom: 1em;
        .site-logo {
            display:block;
            margin: 0 auto; 
            width:20%;
          }
          h2 {
              font: 3em $logo-font;
              position: absolute;
              top: 35%;
              left: 50%;
              transform-origin: 10% -10px;
              transform: rotate(-20deg) skew(-15deg) translate(-50%,-50%);
          }
    }
     h2, h4, {
        color:white;
        text-align: center;
      }
      h4{
          margin-top: 1em;
          font-size: 1.5em;
      }
    
  }
  
  
    nav{
      background: none;
      box-shadow: none;
      background-color: none;
      .nav-wrapper {
        width: 50%;
        max-width: 1000px;
        margin: 0 auto;
      }
    }
  
    ul {
      width: 100%;
      li {
        text-align: center;
        width: 45%;
        background-color: #FF6363;
        box-shadow: $card-shadow;
        margin: 0.5em 0.3em;
        a {
            color:#fff;
            font: 1em $titular-font;
            padding: 1em;
        
          }
       
      }
    }
  .container {  
    display: block;
    margin: auto;
  .createAcc{
@include cardbox();
    h4{
      font-size: 1.5em;
      color: #545454;
    }
    .auth-form {
        padding: 0 4em 0 4em;
      input[type=password], input[type=email], input[type=text]  {
          background-color:white;
          color:#545454;
          width: 100%;
          margin: 0;
      }
  }
  }
}

.login {
    display:block;
            margin: 0 auto; 
    padding: 2em;
    width: 50%;
    input[type=password], input[type=text] {
      padding: 0.5em;
      background-color: white;
      box-shadow: $card-shadow;
    }
  }

 .row {
   .profile-container{
    border: 2px solid red;
     display: block;
     margin: 0 auto;
     text-align: center;
     padding: 2em;
     height: 40%;
     width: 100%;
     background-color: $profile-background;
   }
   .regimen-container{
     border: 2px solid blue;
     width:100%;
     height:30em;
     max-height: 100%;
     background-color: $regimen-background;
     padding: 3em;
  
   }
 } 
.statsform-container{
  @include flex();
  .createStats{
    width: 90%;
    margin-top: 4em;
    h4{
      text-align: center;
      color: $form-color;
      padding: 2em 2em 0 2em;
    }
    input[type=submit]{
      margin-top: 1em;
    }
  }
 
}

.stats-not-logged{
  background-image: url('/img/not-logged-in.jpeg');
  @include background-setup();
  @include flex();
  padding: 5em;
  p{
    font-family: $titular-font;
    text-align: center;
    padding: 5em;
  }

}

 
 .create-regimen{
   padding: 2em;
   width: 50%;
   h4{
     color: $form-color;
   }
   .regimen-form{
     padding: 2em 6em;
     background-color: $regimen-form;
     box-shadow: $card-shadow;
     color: $form-color;
     textarea{
       border: none;
      //  &:hover{

      //  }
     }
   }
 }
  
  @keyframes float {
    0% {transform: translatey(0px);}
    50% {transform: translatey(-20px);}
    100%{transform: translatey(0px);}
  }

  @media #{max-width=768px} {
    // styles for small screens and down

    .site-logo{
      width:35%;
    }
  }
  