@import url("https://fonts.googleapis.com/css?family=Montserrat|Pacifico");
body {
  background-color: #FCD337;
}

h4 {
  text-align: center;
  color: white;
  font: 2em "Montserrat", sans-serif;
}

header {
  padding: 10em 5em 1em 5em;
}

header .entire-logo {
  position: relative;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  margin-bottom: 1em;
}

header .entire-logo .site-logo {
  display: block;
  margin: 0 auto;
  width: 20%;
}

header .entire-logo h2 {
  font: 3em "Pacifico", cursive;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform-origin: 10% -10px;
          transform-origin: 10% -10px;
  -webkit-transform: rotate(-20deg) skew(-15deg) translate(-50%, -50%);
          transform: rotate(-20deg) skew(-15deg) translate(-50%, -50%);
}

header h2, header h4 {
  color: white;
  text-align: center;
}

header h4 {
  margin-top: 1em;
  font-size: 1.5em;
}

nav {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: none;
}

nav .nav-wrapper {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  width: 100%;
}

ul li {
  text-align: center;
  width: 45%;
  background-color: #FF6363;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 0.5em 0.3em;
}

ul li a {
  color: #fff;
  font: 1em "Montserrat", sans-serif;
  padding: 1em;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.parallax-container .section .homepage-container .entire-logo {
  position: relative;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  margin-bottom: 1em;
}

.parallax-container .section .homepage-container .entire-logo .site-logo {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.parallax-container .section .homepage-container .entire-logo h2 {
  font: 3em "Pacifico", cursive;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform-origin: 10% -10px;
          transform-origin: 10% -10px;
  -webkit-transform: rotate(-20deg) skew(-15deg) translate(-50%, -50%);
          transform: rotate(-20deg) skew(-15deg) translate(-50%, -50%);
}

.parallax-container .section .homepage-container h2, .parallax-container .section .homepage-container h4 {
  color: white;
  text-align: center;
}

.parallax-container .section .homepage-container h4 {
  margin-top: 1em;
  font-size: 1.5em;
}

.container {
  display: block;
  margin: auto;
}

.container .createAcc {
  margin: 0 auto 1em auto;
  width: 70%;
  background-color: white;
  padding: 2em;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.container .createAcc h4 {
  font-size: 1.5em;
  color: #545454;
}

.container .createAcc .auth-form {
  padding: 0 4em 0 4em;
}

.container .createAcc .auth-form input[type=password], .container .createAcc .auth-form input[type=email], .container .createAcc .auth-form input[type=text] {
  background-color: white;
  color: #545454;
  width: 100%;
  margin: 0;
}

.login {
  display: block;
  margin: 0 auto;
  padding: 2em;
  width: 50%;
}

.login input[type=password], .login input[type=text] {
  padding: 0.5em;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.profile-row {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/plant.jpg");
  width: 100%;
}

.profile-row .profile-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  height: 40%;
  width: 50%;
}

.profile-row .profile-container .profile {
  background-color: white;
}

.navbar-row {
  margin: 0;
  padding: 0;
  background-color: #C04B23;
}

.regimen-row .regimen-container {
  width: 100%;
  height: 30em;
  max-height: 100%;
  background-color: rgba(219, 219, 219, 0.7);
  padding: 3em;
}

.create-regimen {
  padding: 2em;
  width: 70%;
}

.create-regimen h4 {
  color: #9D9D9D;
}

.create-regimen .regimen-form {
  padding: 2em 6em;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #9D9D9D;
}

.create-regimen .regimen-form textarea {
  border: none;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@media max-width {
  .site-logo {
    width: 35%;
  }
}
/*# sourceMappingURL=main.css.map */