
    <div class="section no-pad-bot login-logo">
    <div class="container homepage">
      <h1 class="header align-middle center title-font">Growthsphere </h1>
      <div class="row center">
        <h5 class="header col s12">Dream | Plan | Grow</h5>
      </div>
    </div>


<section class="row">  
  {{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

  <form action="" method="POST" class="auth-form login">
    <p class="input-field">
      <input type="text" name="username" placeholder="username">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field form-button">
      <input type="submit" value="Log In" class="btn waves-effect waves-light">
              <button type="button" class="btn align-middle"><a href="/user/sign-up">Sign Up</a></button>

    </p>
  </form>
</section>