 
  <div class="create-acct-container center-align">

    <div class="section no-pad-bot login-logo">
    <div class="container homepage">
      <h1 class="header center title-font">Growthsphere </h1>
      <div class="row center">
        <h5 class="header col s12">Dream | Plan | Grow</h5>
      </div>
    </div>
    
<div class="container">

<section class="row col s6 createAcc">
  <h4>Create an Account</h4>

  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="text" name="username" placeholder="Username">
    </p>
     {{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field">
      <input type="submit" value="Next" class="btn waves-effect waves-light">
    </p>
  </form>

    {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
</section>

</div>
</div>
</div>
