
<header class="site-header">
            <div class="entire-logo">
              <img src="/img/sphere.png" class="site-logo" alt="Growthsphere logo">
            <h2>Growthsphere</h2>
            </div>
            
           <h4>Develop Your Own Regimens with Style!</h4>
    </header>

    

{{#if regimen}}
  <ul class="Regimens">
    {{#each regimen}}
       {{> 'regimen'}}
    {{/each}}
  </ul>
{{/if}}

