<div id="hero-img" class="parallax-container">
 
  <div class="section no-pad-bot">
    <div class="container homepage">
      <h1 class="header center">Growthsphere </h1>
        <h5 class="header col s12">Dream | Plan | Grow</h5>
    </div>
    </div>


    <nav>
      <div class="nav-wrapper">
        <ul>
          {{#if currentUser}}
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/user/profile/{{currentUser.id}}">Profile</a></li>
          <li class="nav-item"><a href="/user/logout">Log Out</a></li>
          {{else}}
          <li class="nav-item"><a href="/user/login">Log In</a></li>
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/user/sign-up">Sign Up</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
 
   <div class="parallax"><img src="/img/yellow_natualhair_girl.jpg" alt="Brown skin girl with natural hair"></div>

  </div>

{{#if currentUser}}

<div class="container">

  View regimens made by all users... Coming Soon!
  
{{!-- 
{{#if regimen}}

  {{#each regimen}} 

   <ul class="collapsible">
    <li>
      <div class="collapsible-header">
          {{> 'regimen'}} 

        </div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  
  {{/each}}
{{/if}} --}}



</div>


 {{else}}
<div class="container-fluid jumbotron">
  <div class="section">

    <div class="row">
      <div class="col s12 center jumbo-content">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>What is This?</h4>
        <p class="left-align light">
          Growthsphere is an online web application initially designed to create a space for African American women to track their
          Natural hair growth progress. What's more than a web application that logs hair regimens and product outcomes,
          I am hoping that this application can evolve to become a space where women of color can come to share, collaborator
          and talk about their hair!</p>
      </div>
    </div>

  </div>
</div>


<div class="col s12 m7 why-use-container">
  <div class="card horizontal">
    <div class="card-image why-use-img hide-on-small-only">
      <img class="" src="/img/yellow_naturalhair_girl1.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4>Why Use It?</h4>
        <p class="left-align">
          Growthsphere is an online web application initially designed to create a space for African American women to track their
          Natural hair growth progress. What's more than a web application that logs hair regimens and product outcomes,
          I am hoping that this application can evolve to become a space where women of color can come to share, collaborator
          and talk about their hair!
        </p>
        <button type="button" class="btn"><a href="#">Learn More</a></button> </div>
    </div>
  </div>
</div>

<div class="col s12 m7 why-use-container">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <h4>La di da Di</h4>
        <p class="left-align">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique
        arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra
        ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin
        diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida
        ultrices erat.
        </p>
        <button type="button" class="btn"><a href="#">Learn More</a></button> 
        </div>
    </div>
    <div class="card-image why-use-img hide-on-small-only">
      <img src="/img/yellow_naturalhair_boy.jpg">
    </div>
  </div>
</div>





<div class="container-fluid amber accent-2">
  <div class="container">
    <div class="section">

      <h4 class="center">What Can I Do Here?</h4>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Create an Account</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our
              custom components. Additionally, we refined animations and transitions to provide a smoother experience for
              developers.
            </p>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Build Your Profile</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework
              that incorporates components and animations that provide more feedback to users. Additionally, a single underlying
              responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Grow, grow, grow!</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users
              get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Parallax Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get
          Started
        </a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/img/lit.jpg" alt="Carefree black boy laying in a bed of blue flowers"></div>
</div>

          {{/if}}


<div class="container-fluid white">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center developer">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Meet the Developer</h4>
          <img src="/img/developer.jpg" />
          <h5>Tasha Mitchell</h5>
          <p class="left-align light">
            Hello! I am a Full Stack Web Developer who brings words from mere concepts and ideas into a visual reality that’s both thought-provoking
            and interactive. When I transitioned from learning human languages as a linguist to computer programming, I was
            able to quickly transfer my skill of breaking down concepts to their bare syntax and grammar and reconstructing
            them into readable and functional code. All of these qualities not only add up to making me a great programmer,
            but overall, someone highly skilled in the talent of both crafting and materializing human narratives that reach
            vast variety of people, cultures, and organizations.
          </p>
          <p class="left-align light">
            Learn more about what I've made and what I can do <a href="http://tamitchell.github.io">here</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>