{{#if currentUser}}
<div class="card">
  <div class="card-content">
    <h4 class="card-title">{{_id}}'s Stats</h6>
    <form method="POST" action="/stats/{{id}}?_method=PUT" class="row">
    <p class="input-field">
      <input type="text" name="hairtype" placeholder="Hair type">
    </p>
    <p class="input-field">
      <input type="text" name="hairlength" placeholder="Hair Length">
    </p>
    <p class="input-field">
      <input type="text" name="density" placeholder="Hair Density">
    </p>
    <p class="input-field">
      <input type="text" name="hairporosity" placeholder="Hair Porosity">
    </p>
    <p class="input-field">
      <input type="submit" value="Submit" class="btn waves-effect waves-light">
    </p>
    </form>
  </div>
</div>
{{/if }}