<section class="form-container">
  <h4>New Regimen</h4>
  <form action="/regimen" method="post" class="form">
    <p class="input-field">
      <textarea name="regimen[routine]" cols="30" rows="10" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Tweet" class="btn waves-effect waves-light">
    </p>
  </form>
</section>